.gameScreen{
  background-color: black;
  margin-left: auto;
  margin-right:auto;
  overflow: auto;
  height:500px;
  width: 400px;
  position:relative;
  margin-top: 50px;
}
.gameTextU{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: limeGreen;
}
.gameTextGame{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: blue;
}
.gameInput{
  background-color: black;
  border-color: #132743;
  border-style: solid;
  color: limeGreen;
  font-family: 'Roboto Mono', monospace;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  width:387px;
}
.gameInput:focus{
  outline:none;
}
.gameScroll{
  width: 100%;
}
.alignBottom{
  position: absolute;
  bottom: 0;
}
