.gameScreen{
  /* background-color: black; */
  background-image: url(https://media.giphy.com/media/watL8bcdCVpcY/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
  overflow: auto;
  height:500px;
  width: 400px;
  position:relative;
  margin-top: 50px;
}
.gameTextU{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: limeGreen;
}
.gameTextGame{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: blue;
}
.gameTextMotion{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: 	#383838;
}
.gameTextEnding{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #606060;
  text-align: center;
}
.gameInput{
  background-color: transparent;
  border-color: #132743;
  border-style: solid;
  color: limeGreen;
  font-family: 'Roboto Mono', monospace;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  width:387px;
}
.gameInput:focus{
  outline:none;
}
.gameScroll{
  width: 100%;
}
.alignBottom{
  position: absolute;
  bottom: 0;
}
