
/*general css*/

html{
  background-color: #132743;
  color: #407088;
}
form{
  text-align:center;
}
}
nav{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/* home page css*/

.homeTitle{
  text-align:center;
  margin-top: 8%;
  font-family: 'Roboto Mono', monospace;
}
.nav{
  border-style: none;
  background-color: #407088;
  color:#132743;
  border-radius: 10%;
  font-size: 16px;
  margin-top: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.nav:hover{
  background-color: #33596c;
}

/*About me css*/

#aboutme{
  margin-top:4%;
}
.hannah{
  width:200px;
  border-radius: 30%;
  margin-right:2%;
  margin-left: 2%;
  height: auto;
}
.hannahtxt{
  text-align:left;
  font-family: 'Roboto Mono', monospace;
  margin-right: 2%;
  color: #132743;
}
.orderElements{
  display:flex;
  flex-direction: column;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20%;
  margin-left:20%;
  background-color:#33596c;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10%;
  padding-top: 3%;
  padding-bottom: 20%;
}
.links:hover{
  opacity:.7;
}
.links{
  width: 30px;
  margin-right:10px;
}
