<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A Dark Room</title>
    <link rel="stylesheet" href="stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
    <!--secret javascript when konami code is inputted!! as a tribute to the old thing-->
  </head>
  <body>
    <h1 class="homeTitle">A Short Talk on the Edge of Beyond</h1>
    <nav>
    <form action="/game" method="get"><button type="submit" class="nav">Play Game</button></form>
    <form action="/aboutme" method="get"><button type="submit" class="nav">About the Creator</button></form>
    </nav>
  </body>
</html>
